# default
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx

# svn root
.svn

# Gradle
.gradle

# IntelliJ IDEA
.idea/
out/
*.iml
*.ipr
*.iws

# Maven
target
release.properties
pom.xml.*

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS X
.DS_Store

# Personal Files